body{
	font-family:'Heebo',sans-serif;
	padding-top: 1em;
}

@-ms-viewport{
  width: device-width;
}/*https://css-tricks.com/snippets/html/responsive-meta-tag/*/

/*.container{
	width:100%;

}*/
section{
  display: block;
}
.nav-main{
	background: white;
	width:100%;
	top:0;
	position:fixed;
	z-index: 1;
	padding-top: 1em;
}

.nav-list{
	float: right;
	padding-left: 1em;
}

a{
	text-decoration: none;
	color:black;
	transition: all 0.5s ease;
	padding-left: 1.8em;
  padding-right: 0.5em
	top: 0px;
}

a:hover{
  color:#E8E8E8;
}

.logo{
  font-style: bold;
  font-size:20px;
  padding-right: 1em;
}

.float-right{
	float:right;
}

.search{
  width: 30px;
  float:right;
}

.search-small{
  width: 30px;
  right:10px;
  top:15px;
  position: fixed;
}

/*li{
	list-style:none;
	margin-left:15px; 
	margin-top:15px;
}*/

.content{
	margin: 1em;
	background:white;
}﻿

.grid-list{
	padding-top:5em;
}
/* Product List */

.colums{
	display: block;
  float: left;
}

.product-item{
    margin-bottom: 2em;
    z-index:-1;
    text-align: center;
    margin-left: 1em;
}

.product-item:hover, .product-item:focus{
    background-color: #E8E8E8;
}

.product-wrapper{
    position: relative;

}

.product-wrapper img{
  display: block;
  opacity: 1;
  transition: all 1s ease;
}

.product-wrapper:hover img{
  opacity: 0.3;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  transform: scale(1.05); 
}

.product-wrapper .product-wrapper-content{
    position: relative;
    opacity: 0;
    padding: 5px 5px;
    top:-50px;
    color: white;
    text-align: center;
    transition: all 1s ease;
  }

.product-wrapper:hover .product-wrapper-content {
    opacity: 0.8;
}

.events{
    margin: 1em;
}

img{
  display: block;
  margin: auto;
  width: 80%
}

.img-none-hover{
  opacity: 1;
  transition: all 1s ease;
  z-index:-1;
}

.img-none-hover:hover, .img-none-hover:focus{
  opacity: 0.3;
}

.online-support{
	right: 1em;
	bottom: 2em;
	position:fixed;
	z-index: 999;
}

.shopping-bag{
	right: 1em;
	bottom: 5em;
	position:fixed;
	z-index: 999;
}

.content-wrapper{
 /* border:1px solid red;*/
  width:85%;
  position: relative;
  height:auto;
  top: 3em;
  margin:0 auto;
}

#slogan{ 
  font-size: 18px;
  color: white;
  max-width:70%;
}


.top-wrapper{
	top: 0px;
}

.button-nav {
  display: inline-block;
  padding: 0em 1em 0em 1em;
  color: white;
  background-color: white；
  text-transform: uppercase;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: all 0.5s ease;
  list-style-type: none;

/*  background-color: gray;*/
}

.button-nav:hover, .button-nav:focus {
  color: #D5D5D5;
} 

/*.filter{
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  list-style-type: none;
}
*/
.nav{
	width:100%;
	background-color: white;
  top: 0;
  position: fixed;
  z-index: 999;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,0.1);
}


button{
  padding: 0.5em 5em 0.5em 5em;
  background-color: white;
  color:#555555;
  border: none;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: 0 8px 18px 1px rgba(0,0,0,0.15);
}

button:hover{
  background-color: white;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}

.review-button{
	margin-top: 2em;
}

.img-pdp{
  width:50%;
  height: auto;
}

/* 
  TEXT ELEMENTS -------------------
*/
h1{
  color: #555555;
  font-size: 15px;
 /* margin: 1em;*/
  font-weight: bolder;
  text-transform: uppercase;

}

h2{
  color: grey;
  font-size: 20px;
  margin-top: 1em;
  text-transform: uppercase;
}

h2.reviews{
	margin-top: 2em;
	text-align: center;
	padding-left: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid grey;
}

h3{
  font-size: 15px;
  color: #729DD6;
  margin-top: 1.5em;
}

p{
  font-size: 1em;
  font-weight: normal;
}

.figurecap{
  font-size: 0.8em;
  font-weight: normal;
}

ol{
  color:#4990E2;
  font-size: 15px;
}

ul{
  color:#4990E2;
  font-size: 15px;
  text-transform: uppercase;
  text-align: left;
}

li{
  padding: 0.3em;
}

section{
  margin-left: 1em;
  margin-right: 1em;
}

.content-text{
  font-size: 1rem;
  color: white;
  width:40%;
  height:auto;
  position:absolute;
  top:20%;
  left:60%;
}

.content-button{
    width:15%;
    height:auto;
    position:absolute;
    top:30%;
    left:71%;
    border:1px solid red;
}

#banner-content{
     display: block;
     max-width:100%;
     height:auto;
} 

.cart_title{
  padding-top: 3em;
  display: inline-block;
}

.body_move_down{
  margin-top: 5em;
}

.input_form input{
    font-size: 0.8em;
    text-align: left;
    padding: 1em 5em 1em 1em;
    margin: 1em;
    border: 1px solid #E2ECF8;
    border-radius: 0.3em;
    transition: all 1s ease;
    text-align: left;
}

.input_form input:hover{
  outline: none;
  border: 1.5px solid #4990E2;
  transition: all 1s ease;
}

.input_account{
  width:50%;
}

.login-box{
  text-align: center;
  border: 1.5px solid #E2ECF8;
  margin: 0.5em;
  padding: 2em 0em ;
  }

.signup-button{
  margin: 1em;
  font-size: 15px;
}

.login-button{
  margin: 1em;
  font-size: 15px;
  border: 2px solid #E2ECF8;

}

.payment-box{
  text-align: left;
  padding: 0em 0.5em 0em 0em;
  }

.payment-button{
  margin-top: 1em;
}

.select_form{
    font-size: 0.8em;
    text-align: left;
    margin: 2em 1em 1em 1em;
    height: 3.5em;
    width: 16em;
    border: 2px solid #E2ECF8;
    border-radius: 0.3em;
    transition: all 1s ease;
    text-align: left;
    display: block;
    background-color: white;
}

.select_form input:hover{
  outline: none;
  border: 1.5px solid #4990E2;
  transition: all 1s ease;
}

.product-banner{
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    z-index: 9999;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 9999;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: rgba(200,200,200, 0.8);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}



/* The Search icon links */
.sidesearch {
    height: 10%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    z-index: 9999;
}

.sidesearch a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 9999;
    display: inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidesearch a:hover, .offcanvas a:focus{
    color: rgba(200,200,200, 0.8);
}

/* Position and style the close button (top right corner) */
.sidesearch .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidesearch {padding-top: 15px;}
    .sidesearch a {font-size: 18px;}
}

.search-pop{
  width: 30px;
}

.hamburger{
    position: fixed;
    left: 15px;
    top: 15px;
    width: 25px;
}

.small-logo{
    position: fixed;
    left: 50px;
    top: -8px;
    font-size: 20px;
    font-weight: bold;
}

.homepage-small{
  margin: 10px;
  float: left;
  display:inline-block 
}

.center {
    margin: auto;
    width: 80%;
    padding: 20px;
}


textarea{
  height: auto;
  float: right;
  margin-top: -1em;
}

.full-img{
  width: 100%;
  height: 100%;
}
/* 
  END OF TEXT ELEMENTS -------------------
*/

/*h2.float-left{
	float: left;
	padding-top: 0em;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float：left
  font-size: 5em；
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
/*https://css-tricks.com/star-ratings/*/
