body{
	font-family:'Nunito',sans-serif;
	padding-top: 1em;
}

@-ms-viewport{
  width: device-width;
}/*https://css-tricks.com/snippets/html/responsive-meta-tag/*/

/*.container{
  overflow:hidden;
  background-size: cover;
  background-position: center;
  background-image: url(img/PDP_watch_1.jpg);

}*/

div .grid-col-5of12 img{
  /*ß
  min-height:100%;
  min-width:100%;
  */
  max-height:100%;
  max-width:100%;
  width:auto;
  display: block;
}

.check{
  width:80%;
  padding-bottom:2em;
  padding-top:2em;
  display:inline-block;
}

.next_button{
  text-align: right;
  margin-right:2em;
}

.nav-main{
	background: white;
	width:100%;
	top:0;
	position:fixed;
	padding-top: 1em;
  z-index: 2;
}

.nav-list{
	float: right;
	padding-left: 1em;
}

p{
  line-height: 1.5;
}

a{
	text-decoration: none;
	color:black;
	transition: all 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 15px;
}

.nav a{
  padding-left: 1em;
}

.button-nav a:hover{
  color:#E8E8E8;
}

.grey-bg{
  padding: 2rem;
  background-color: rgb(245,245,245);
}

.logo{
  font-style: bold;
  font-size: 20px;
  padding-right: 2em;
}

.float-right{
	float:right;
}

.search-small{
  width: 20px;
  right:10px;
  top:15px;
  position: fixed;
}

.content{
	margin: 1em;
	background:white;
}﻿

.grid-list{
	padding-top:5em;
}
/* Product List */

.colums{
	display: block;
  float: left;
}

img{
  display: block;
  margin:auto;
  width: 100%;
}

.img-none-hover{
  opacity: 1;
  transition: all 1s ease;
  z-index:-1;
}

.img-none-hover:hover, .img-none-hover:focus{
  opacity: 0.5;
}

.account-icon{
/*	right: 1em;
	bottom: 1em;
	position:fixed;*/
	z-index: 999;
  /*padding-left: 0;*/
}

.shopping-bag{
/*	right: 1em;
	bottom: 5em;
	position:fixed;*/
	z-index: 999;
}
#none-a{
  padding:0;
}
.icons{
  float: right;
}

.big-title{
  padding: 1em 1em 0.5em 1em;
  text-align: center;
  border-bottom:1px solid rgba(0,0,0,0.1);
  letter-spacing: 2px;
}
/*.content-wrapper{
  width:85%;
  position: relative;
  height:auto;
  top:2rem;
  margin:0 2em 1em 2em;
  display:inline-block;
}
*/

.top-wrapper{
	top: 0px;
}

.button-nav {
  display: inline-block;
  padding: 0em 1em 0em 1em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: all 0.5s ease;
/*  border:1px solid red;*/
  list-style-type: none;

/*  background-color: gray;*/
}

.button-nav:hover, .button-nav:focus {
  color: rgba(0,0,0,0.1);
} 

.icon-on-nav{
  padding:1rem;
/*  border:1px solid red;*/
  float:right;
}
/*.filter{
  display: inline-block;
  padding: 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  list-style-type: none;
}
*/
.nav{
	width:100%;
  top: 0;
  position: fixed;
  background-color: rgb(245,245,245);
  border-bottom: 1px solid rgba(0,0,0,0.2);
  z-index: 5;
}

button{
  padding: 0.5em 5em 0.5em 5em;
  background-color: black;
  color: white;
  border: 1px solid rgb(0,0,0);
  font-size: 13px;
  cursor: pointer;
  transition: all 0.5s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:hover{
  background-color: rgba(0,0,0,0.6);
  color:white;
}

.review-button{
	margin-top: 2em;
}

.img-pdp{
  width:50%;
  height: auto;
/*  padding-top: 2rem;*/
}

/* 
  TEXT ELEMENTS -------------------
*/
h1{
  color: #555555;
  font-size: 15px;
 /* margin: 1em;*/
  font-weight: normal;
  text-transform: uppercase;
}

h2{
  color: grey;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

h2.reviews{
	margin-top: 2em;
	text-align: center;
	padding-left: 1em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid grey;
  text-transform: uppercase;
}

h3{
  font-size: 15px;
  color: grey;
  text-transform: uppercase;
/*  margin-top: 1.5em;*/
}

h4{
  font-size: 1rem;
  color: black;
  z-index: 999;
  padding-bottom: 15rem;

}

p{
  font-size: 1em;
  font-weight: normal;
}


figcaption{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-top: -4.5em;
  color: white;
}

.gery-bg{
  background-color: rgb(245,245,245);
  width:100%;
}

ul{
/*  color:#4990E2;
  text-transform: uppercase;*/
  font-size: 16px;
 /* text-align: center;*/
  list-style: none;
  padding-top: 1em;
  padding-left: 0;
/*  padding-bottom: 4rem*/;
}

ol{
   padding-left: 1rem;
}

.footer-ul{
  text-align:center;
  font-size: 12px;
}

.footer-reference{
  display:inline-block;
}

li{
  /*padding: 0.2em;*/
}

section{
  margin:1em;
  display:block;
}

.review{
  border-bottom: 0.5px solid grey;
  margin-top:1em;
  margin-bottom:1em;
}

.review-header{
  margin-top:2em;
}

.content-text{
  width:75%;
  height:auto;
  position:absolute;
  top:26%;
  left:18%;
  text-align: center;
}

.content-text h1{
  color: white;
  letter-spacing: 5px;
/*  border: 2px solid white;*/
  font-size: 35px;
  max-width: 80%;
  text-align: center;
}

.content-text h2{
  color:grey;
  letter-spacing: 4px;
/*  border: 2px solid white;*/
  font-size: 1rem;
  max-width: 80%;
  text-align: center;
}

.content-text button{
  text-align: center;
  text-transform: uppercase;
  padding: 1em 5em;
  margin-top: 1.5em;
  margin-right: 8em;
  letter-spacing: 2px;
  background-color: white;
  color: black;
}

.content-text button:hover{
  color:white;
  background-color: rgba(0,0,0,0.1);
  border: 1px solid white;
}

.content-text-list{
  color: white;
  width:35%;
  height:auto;
  position:absolute;
  top:50%;
  left:68%;
  z-index: 1;
}

.content-button{
    width:15%;
    height:auto;
    position:absolute;
    top:30%;
    left:71%;
}

#banner-content{
     display: block;
     max-width:100%;
     height:auto;
} 

/*.body_move_down{
  width:96%;
  border:1px solid red;
  margin-top: 2em;
  margin-left: 1em;
}
*/

.our-story-homepage{
  padding: 1.2em 2em;
}

.image-holder{
  width:100%;
  margin-top:2.3rem;
  height:auto;

}

.image-holder img{
  width:100%;
  height:auto;
  }

.image-holder video{
  width:100%;
  height:auto;
}


.input_form input{
    font-size: 0.8em;
    text-align: left;
    padding: 1em 5em 1em 1em;
    margin: 1em;
    border: 1px solid rgba(0,0,0,0.2);
    transition: all 1s ease;
    text-align: left;
}

.input_form input:hover{
  outline: none;
  border: 1.5px solid black;
  transition: all 1s ease;
}

.input_account{
  width:95%;
}

.login-box{
  text-align: center;
  margin: 0.5em;
  padding: 2em 5em ;
  }

.signup-button{
  margin: 1em;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.login-button{
  margin: 1em;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.payment-box{
  text-align: center;
  padding: 3em;
  }

.content-img-part2{
  transition: all 1s ease;

}

.select_form{
    color: rgb(180,180,180);
    font-size: 0.8em;
    text-align: left;
    margin: 2em 1em 1em 1em;
    height: 3.5em;
    width: 17em;
    border: 1px solid black;
    transition: all 1s ease;
    text-align: left;
    background-color: white;
    border-radius: 0;
}

.select_form:hover{
  color:black;
}
.footer{
  background-color:black;
/*  background-color:rgb(233,233,233);*/
  text-align: center;
  display: block;
}

.product-banner{
    max-width: 98%;
    margin-bottom: 1em;
    padding:3em;
}

.product-list-item{
  padding: 2em;
  margin-bottom: 1em;
}
.product-list-item h1{
  color: white;
}

.hidden-product-info{
  text-align: center;
  padding: 1em;
}
/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    z-index: 9999;
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 9999;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: rgba(200,200,200, 0.8);
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.side-nav-small{
  text-align: center;
  padding: 4em;
  margin-top: 2em;
}
.leftmargin{
  margin-left: 4em;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.hamburger{
    position: fixed;
    left: 15px;
    top: 15px;
    width: 20px;
}

.small-logo{
    position: fixed;
    text-align: center;
    top: 0;
    left: 3em;
    font-size: 15px;
    font-weight: bold;
    z-index: 5;
    letter-spacing: 2px;
}

/* The Search icon links */
.sidesearch {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    top: 0;
    right: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    z-index: 9999;
/*    border:1px solid red;*/
    
}

.sidesearch a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 9999;
    display: inline-block;
}

.sideSearch-container{
  width:60%;
  margin: 3rem auto;
/*  border:1px solid red;*/
}

h3#sideSearch-info{
  margin-left:0.9rem;
}

.search-button{
  margin-left: 0.8em;
  width: 95%;
  text-transform: uppercase;
}


/* When you mouse over the navigation links, change their color */
.sidesearch a:hover, .offcanvas a:focus{
    color: rgba(200,200,200, 0.8);
}

/* Position and style the close button (top right corner) */
.sidesearch .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidesearch {padding-top: 15px;}
    .sidesearch a {font-size: 18px;}
}


.search-pop{
  width: 30px;
}


/* The Cart icon links */
.sidecart {
    height: 100%; 
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    right: 0;
    top:0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.8s; /* 0.8 second transition effect to slide in the sidenav */
    z-index: 9999;
}

.sidecart a {
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
    z-index: 9999;
    display: inline-block;
}

/* When you mouse over the navigation links, change their color */
.sidecart a:hover, .offcanvas a:focus{
    color: rgba(200,200,200, 0.8);
}

/* Position and style the close button (top right corner) */
.sidecart .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidecart {padding-top: 15px;}
    .sidecart a {font-size: 18px;}
}

.sidecart a{
  display: block;
}
.cart-small{
  padding: 0em 2.5em;
  margin-top: 1em;
  text-align: center；
}

.cart-small img{
  width: 40%;
  padding-bottom: 1em;
}

.cart_title{
  text-align: center;
  padding: 1em 2em;
  border-bottom: solid 1px rgba(0,0,0,0.1);
}

#price{
  border: none;
}

#cart-check-out{
  color: blue;
  margin-top: 1rem;
}

.cart_title h3{
  margin:0;
}

.sidecart button{
  width: 100%;
  text-transform: uppercase;
}

.homepage-small{
  margin: 10px;
  float: left;
  display:block;
  /*  margin-left: auto;
  margin-right: auto;*/
}

.center {
    margin: auto;
    width: 80%;
    padding: 20px;
}

textarea{
  height: auto;
  width: 90%;
  float: left;
  /*margin-top: -1em;*/
}



.footer-icons{
  width:18%;
/*  border:1px solid red;*/
/*  padding-left: 47%;*/
  margin: 0 auto;
}

.center-container{
/*  border:1px solid red;*/
  width:52%;
  margin:0 auto;
  height: auto;
}

.center-container:after{
    content: "";
    clear: both;
    display: table;
}

/*fill the container to avoid collapse*/
.footer-icons:after{
    content: "";
    clear: both;
    display: table;
}

.icon{
  padding-right: 10px;
  width:30px;
  height: auto;
  position:relative;
  z-index: 999;
  float:left;
}

.quick-links{
  background-color: white;
  float: left;
}

.quick-links p{
  font-size: 15px;
}

.cart-button{
/*  background-color: red;*/
  margin-top: 200px;
  width:50%;
  display: block;
}

.right{
  float:right;
  width:50%;
  margin-right: -7em;
}

div.tab{
  overflow: hidden;
  /*width:50%;*/
  /*float: right;*/
}
*/

div.tab a {
  float: left;
  display: block;
  text-align: center;
  padding:14px 16px;
  text-decoration: none;
  transition:0.3s;
  font-size: 17px;
  margin-right: 0;
}

div.tab a:hover{
  background-color: #ddd;
}

div.tab a:focus, .active{
  background-color: #ddd;
}

.tabcontent{
  display: none;
  padding:6px 12px;
  border-top: none;
}


.contact-left{ 
  margin-top: 10px; 
  padding: 30px; 
} 
.contact-right{ 
  margin-top: 30px; 
  padding-left: 5em; 
} 
.contact-right p{ 
  width:80%; 
} 

.contact-ways{
  text-align: center;
  margin-bottom: 5em;

}

.container {
    position: relative;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  z-index: -1;
}

.middle {
  transition: .6s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.middle h1{
  color:white;
  text-align: center;
}

.middle h2{
  color:white;
  text-align: center;
}

.container:hover .image {
  opacity: 0.9;
  transform: scale(1.01);
  filter: brightness(.1);
  -webkit-filter: brightness(.1);
}

.container:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 1em;
  text-transform: uppercase;
  z-index: -1;
}

#homepage-category{
   /*border: 1px solid red;*/
}

#homepage-category:after{ß
 content:"";
  clear:both;
  display:table;

}


#email{
/*  border: 5px solid red;*/
  margin-top: 2em;
  padding: 2rem;
  height:30rem;
  width:100%;
}


#email:after{
  content:"";
  clear:both;
  display:table;
}

   /* position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; */


/* 
  END OF TEXT ELEMENTS -------------------
*/

/*h2.float-left{
	float: left;
	padding-top: 0em;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  float：left
  font-size: 5em；
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 2em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
/*https://css-tricks.com/star-ratings/*/
